*{
    padding:0;
    margin:0;
}

.navlist{
    list-style-type: none;
}

.navbar{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.navbar > li > a{
    width: 100%;
    display:block;
    border: 1px solid black;
    color: black;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-decoration:none;
}

.cart{
    position: fixed;
    right: 125px;
    bottom: 25px;
}

.cart > li{
    display: flex;
}

.cart > li > a > img{
    background-color: yellow;
    border-radius: 100%;
    padding: 80%;
    width: 330%;
}

.cart > li > p{
    position:absolute;
    background-color: red;
    border-radius: 100%;
    width: 175%;
    text-align:center;
    bottom: 0;
    left: 83px;
    color: white;
    font-size: 2rem;
}

.products > ul{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100vw;
    list-style-type: none;
}

.products > ul > li{
    border: 1px solid black;
    text-align:center;
}

.cartButton{
    display:flex;
    justify-content:center;
}
